@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root{
--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);
}

*{
  font-family: 'Kumbh Sans', sans-serif;
}

.App{
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  width:100%;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
}

.App .container{
  width:60%;
  border-radius:10px;
  height:60vh;
  background-image: url('./images/bg-pattern-desktop.svg');
  overflow:hidden;
  background-position: -260px;
  position: relative;
  background-repeat: no-repeat;
  /* position: relative; */
  background-position: -150% 61%;
  background-color:#fff;
  background-size: 650px;
}

.grid{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:100%;
}

.grid .banner{
  width:50%;
  /* background-size: 400px; */
  /* background-position: 300% -200%; */
}
.grid .text{
  width:50%;
  padding-right:10px;
}

.items{
  padding:15px;
}

.title{
  font-size:14px;
  cursor:pointer;
  display:flex;
  /* margin:0 auto; */
  justify-content: space-between;
  align-items: center; 
  color: #787887;
  border-bottom:1px solid #e7e7e9;
  font-weight:800;
}

.title::after{
  font-weight: 800;
  color:#333;
}


.content{
  max-height: 0;
  font-weight: 700;
  font-size:1rem;
  overflow: hidden;
  transition: all .3s ease;
}


.content-show{
  height:auto;
  max-height: 1000vh;
  color: #787887;
  padding:5px;
  font-size:0.9rem;
  }


/* .App .container  .woman{
  position: absolute;
  width:50%;
  left:-10;
  top:0;
} */





  /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */


@media (max-width:490px){
  .App .container{
    width:100vh;
    height:80vh;
    overflow: scroll;
  }

  .grid{
    position: relative;
    flex-direction: column;
  }

  

}